{% extends "csv_import/index.html" %}
{% load dict_filters %}
{% block content %}
<h1>Details</h1>
{% if detail_view_data %}
    Filename: {{detail_view_data.name}}<br>
    Filepath: {{detail_view_data.file}}<br>
    <div>
        <table>
            <form id="filter_and_sort_form" method="get" action="{% url 'csv_import:uploads_detail' detail_view_data.pk %}">
            <tr>
                {% for header in df.headers %}
                    <th>
                    {{filters_and_values.header}}
                        <input type="text" name="search_{{header}}" value="{{filters_and_values.search|dict_filter:header}}" />
                        <input type="hidden" name="sorting_{{header}}" id="sorting_{{header}}" value="{{filters_and_values.sorting|dict_filter:header}}" />
                    </th>
                {% endfor %}
            <tr>
            <input type="submit" style="display:none">
            </form>
            <tr>
                {% for header in df.headers %}
                    <th>
                        <a href="#" class="sorting">{{header}}</a>{% if filters_and_values.sorting|dict_filter:header == 'asc' %} ↑ {% elif filters_and_values.sorting|dict_filter:header == 'desc' %} ↓ {% endif %}
                    </th>
                {% endfor %}
            </tr>
            {% for row in df.rows %}
            <tr>
                {% for cell in row %}
                    <td>
                        {{cell}}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <p>Nothing to show.</p>
{% endif %}
<br>
<a href="{% url 'csv_import:uploads_edit' detail_view_data.pk %}">Return</a>
<br>
<a href="{% url 'csv_import:uploads_list' %}">To list</a>
{% endblock %}
